<a href="https://colab.research.google.com/github/NandhuKrisz/Pandas/blob/main/Merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({
    'city':['Bangalore','Mumbai','Delhi'],
    'humidity':[65,57,68]
})

df1

        city  humidity
0  Bangalore        65
1     Mumbai        57
2      Delhi        68

In [4]:
df2 = pd.DataFrame({
    'city':['Mumbai','Bangalore','Delhi'],
    'temperature':[28,26,32]
})
df2

        city  temperature
0     Mumbai           28
1  Bangalore           26
2      Delhi           32

In [6]:
df3 = pd.merge(df1,df2,on='city')
df3

        city  humidity  temperature
0  Bangalore        65           26
1     Mumbai        57           28
2      Delhi        68           32

The merge function is similar to the SQL join. By default the join is an INNER JOIN in pandas. Let's see an example

In [7]:
df1 = pd.DataFrame({
    'city':['Bangalore','Mumbai','Delhi','Trivandrum'],
    'humidity':[65,57,68,70]
})

df1

         city  humidity
0   Bangalore        65
1      Mumbai        57
2       Delhi        68
3  Trivandrum        70

In [8]:
df2 = pd.DataFrame({
    'city':['Mumbai','Bangalore','Delhi','Kolkata'],
    'temperature':[28,26,32,35]
})
df2

        city  temperature
0     Mumbai           28
1  Bangalore           26
2      Delhi           32
3    Kolkata           35

In [10]:
df3 = pd.merge(df1,df2,on='city')
df3

        city  humidity  temperature
0  Bangalore        65           26
1     Mumbai        57           28
2      Delhi        68           32

We can see that only the records that are similar in both data frame are displayed. Which means it's an inner join. We can do **OUTER**, **LEFT**, **RIGHT** joins using how parameter.

**OUTER JOIN**

In [12]:
df3 = pd.merge(df1,df2,on='city',how='outer')
df3

         city  humidity  temperature
0   Bangalore      65.0         26.0
1      Mumbai      57.0         28.0
2       Delhi      68.0         32.0
3  Trivandrum      70.0          NaN
4     Kolkata       NaN         35.0

**LEFT JOIN**

In [13]:
df3 = pd.merge(df1,df2,on='city',how='left')
df3

         city  humidity  temperature
0   Bangalore        65         26.0
1      Mumbai        57         28.0
2       Delhi        68         32.0
3  Trivandrum        70          NaN

**RIGHT JOIN**

In [14]:
df3 = pd.merge(df1,df2,on='city',how='right')
df3

        city  humidity  temperature
0     Mumbai      57.0           28
1  Bangalore      65.0           26
2      Delhi      68.0           32
3    Kolkata       NaN           35

We can use **indicator** parameter to see from which dataframe the value was merged

In [15]:
df3 = pd.merge(df1,df2,on='city',how='outer',indicator=True)
df3

         city  humidity  temperature      _merge
0   Bangalore      65.0         26.0        both
1      Mumbai      57.0         28.0        both
2       Delhi      68.0         32.0        both
3  Trivandrum      70.0          NaN   left_only
4     Kolkata       NaN         35.0  right_only

We can use **suffixes**() if the dataframe contains **more than 1 similar columns**

In [16]:
df1 = pd.DataFrame({
    'city':['Bangalore','Mumbai','Delhi','Trivandrum'],
    'humidity':[65,57,68,70],
    'temperature':[28,26,32,35]
})

df2 = pd.DataFrame({
    'city':['Mumbai','Bangalore','Delhi','Kolkata'],
    'temperature':[28,26,32,35],
    'humidity':[65,57,68,70]
})

In [18]:
df3 = pd.merge(df1,df2,on='city')
df3

        city  humidity_x  temperature_x  temperature_y  humidity_y
0  Bangalore          65             28             26          57
1     Mumbai          57             26             28          65
2      Delhi          68             32             32          68

By default the suffixes is X and Y. We can change it to our convinence.

In [20]:
df3 = pd.merge(df1,df2,on='city',suffixes=("_Left","_Right"))
df3

,city,humidity_Left,temperature_Left,temperature_Right,humidity_Right
0,Bangalore,65,28,26,57
1,Mumbai,57,26,28,65
2,Delhi,68,32,32,68