<a href="https://colab.research.google.com/github/NandhuKrisz/Pandas/blob/main/Pivot_Table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
path = "/content/weather.csv"

In [7]:
df = pd.read_csv(path)
df

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/2/2017  new york           66        58
2  5/3/2017  new york           68        60
3  5/1/2017    mumbai           75        80
4  5/2/2017    mumbai           78        83
5  5/3/2017    mumbai           82        85
6  5/1/2017   beijing           80        26
7  5/2/2017   beijing           77        30
8  5/3/2017   beijing           79        35

In [8]:
df.pivot(index='date',columns='city')

         temperature                 humidity
city         beijing mumbai new york  beijing mumbai new york
date
5/1/2017          80     75       65       26     80       56
5/2/2017          77     78       66       30     83       58
5/3/2017          79     82       68       35     85       60

I want only humidity to show. So i'll use the **values** parameter.

In [9]:
df.pivot(index='date',columns='city',values='humidity')

city      beijing  mumbai  new york
date
5/1/2017       26      80        56
5/2/2017       30      83        58
5/3/2017       35      85        60

using **pivot_table()**

In [10]:
path = "/content/weather2.csv"
df= pd.read_csv(path)
df

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/1/2017  new york           61        54
2  5/2/2017  new york           70        60
3  5/2/2017  new york           72        62
4  5/1/2017    mumbai           75        80
5  5/1/2017    mumbai           78        83
6  5/2/2017    mumbai           82        85
7  5/2/2017    mumbai           80        26

In this dataframe we can see that there are two values of humidity and temperature for a day [temp and hum - morning and afternoon ]. I wanted to get the average of them. I'll use pivot table

In [11]:
df.pivot_table(index='city',columns='date')

         humidity          temperature
date     5/1/2017 5/2/2017    5/1/2017 5/2/2017
city
mumbai       81.5     55.5        76.5     81.0
new york     55.0     61.0        63.0     71.0

Using **aggfunc** in pivot_table()

In [12]:
df.pivot_table(index='city',columns='date',aggfunc='sum')

         humidity          temperature
date     5/1/2017 5/2/2017    5/1/2017 5/2/2017
city
mumbai        163      111         153      162
new york      110      122         126      142

adding **margins** to pivot_table

In [13]:
df.pivot_table(index='city',columns='date',aggfunc='sum',margins=True)

         humidity               temperature
date     5/1/2017 5/2/2017  All    5/1/2017 5/2/2017  All
city
mumbai        163      111  274         153      162  315
new york      110      122  232         126      142  268
All           273      233  506         279      304  583

Using **Grouper**()

In [14]:
path = "/content/weather3.csv"
df=pd.read_csv(path)
df

        date      city  temperature  humidity
0   5/1/2017  new york           65        56
1   5/2/2017  new york           61        54
2   5/3/2017  new york           70        60
3  12/1/2017  new york           30        50
4  12/2/2017  new york           28        52
5  12/3/2017  new york           25        51

The temperature and humidity of New York city is given for different months. I wanted to get the average temperature and humidity by month. So i'll use the grouper()

In [17]:
df['date'] = pd.to_datetime(df['date'])

In [18]:
df.pivot_table(index=pd.Grouper(freq='M',key='date'),columns='city')

             humidity temperature
city         new york    new york
date
2017-05-31  56.666667   65.333333
2017-12-31  51.000000   27.666667